sample/src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="cacheFlow" doc:id="a5cc6b8b-2a77-48e5-9434-9fe82140f2ed" >
		<http:listener doc:name="Listener" doc:id="9596cc2b-9927-4f56-a1e1-3997388fbdb0" config-ref="HTTP_Listener_config" path="/cache"/>
		<set-payload value="#[output text/plain --- attributes.queryParams.counter]" doc:name="Set Payload" doc:id="8fb8d979-697e-4928-b588-9cba618b1701" />
		<ee:cache doc:name="Cache" doc:id="496e4855-df09-4568-968a-808c70651d10" cachingStrategy-ref="Caching_Strategy" filterExpression="#[payload as Number != 7]">
			<set-payload value="#[output text/plain --- payload as Number * 10]" doc:name="Set Payload" doc:id="adcaf4aa-9bd3-4baf-8a14-c72a79e30914" />
			<logger level="INFO" doc:name="Logger" doc:id="24619957-2625-404a-87ee-19d2ec1993bb" message="#[payload]" />
		</ee:cache>
		<logger level="INFO" doc:name="Logger" doc:id="998f242a-a24a-4967-b355-17222ef2441b" message="after cache"/>
	</flow>
	<flow name="Flow" doc:id="dff1b88f-ddf8-4be0-adf5-ffedf3e66c97" >
		<http:listener doc:name="Listener" doc:id="d0984974-d8f2-4c94-9cef-eb3eb8ea64c3" config-ref="HTTP_Listener_config" path="/flow"/>
		<http:request method="GET" doc:name="Request" doc:id="85aca2a6-91b9-4749-9412-babf2e171a4e" config-ref="HTTP_Request_configuration" path="/flow1"/>
		<http:request method="GET" doc:name="Request" doc:id="72326762-812b-4952-ac89-de22147bfede" config-ref="HTTP_Request_configuration" path="/flow2"/>
		<http:request method="GET" doc:name="Request" doc:id="25ca0daa-5606-4e0e-adc8-e97cd60a6099" config-ref="HTTP_Request_configuration" path="/flow3"/>
		<ee:transform doc:name="Transform Message" doc:id="5581d3a6-e694-4eb6-a1e5-42ace52a29c8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Flow1" doc:id="c26be326-d86c-4610-96d6-4024f3c1f0f8" >
		<http:listener doc:name="Listener" doc:id="e4064671-9a88-492c-935d-b855880b72d1" config-ref="HTTP_Listener_config" path="/flow1"/>
		<db:select doc:name="Select" doc:id="666b2771-cc52-4f4a-9375-6a45e0b534d7" config-ref="Database_Config">
			<db:sql >select * from names where id &lt; 7</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="aea88065-47c8-4d09-a98f-20ab2ab1dff4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Flow2" doc:id="60f4a966-f974-4850-b0d3-25dc95e0bf6d" >
		<http:listener doc:name="Listener" doc:id="a0e1842a-b2e6-491f-a73f-3edf1b3186eb" config-ref="HTTP_Listener_config" path="/flow2"/>
		<db:select doc:name="Select" doc:id="8e74de88-d7aa-4b2e-9dbb-a00c25527e8a" config-ref="Database_Config">
			<db:sql >select * from names where id &lt; 9 and id &gt; 6</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d783296c-b971-49d4-993c-fda0f4dccdec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="stringManipulationFlow" doc:id="b8198dd3-ced0-4ec0-86f0-ecdf3b442f78" >
		<http:listener doc:name="Listener" doc:id="d99c4133-85b2-4918-830a-6b24ff0bcecd" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='{
"firstName":"satheesh",
"lastName":"Kumar",
"age":"26",
"Amount":10.4
}' doc:name="Set Payload" doc:id="6529535e-8845-46dc-9288-a9dc6fd84ed1" mimeType="application/json"/>
		<ee:transform doc:name="Transform Message" doc:id="69b11246-3171-4e21-9110-d66fea680d6f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import capitalize from dw::core::Strings
---
{
	name: payload.firstName ++ " " ++ payload.lastName,
	substringName: payload.firstName[0 to 4],
	reverseName: payload.firstName[-1 to 0],
	sizeOfFirstName: sizeOf(payload.firstName),
	replacedFirstName: trim (payload.firstName replace "s" with "  a"),
	lowercase: lower(payload.firstName),
	uppercase: upper(payload.firstName),
	capitalized: capitalize(payload.firstName),
	floorAmount: floor(payload.Amount),
	ceilAmount: ceil(payload.Amount),
	roundAount: round(payload.Amount),
	time: now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Flow3" doc:id="213b7c14-3ec8-4386-a12c-2cc557b8ee43" >
		<http:listener doc:name="Listener" doc:id="8274122f-cb46-4f1f-aff5-843110ebb56a" config-ref="HTTP_Listener_config" path="/flow3"/>
		<db:select doc:name="Select" doc:id="596a46ac-4a68-4fad-b458-9c362245200c" config-ref="Database_Config">
			<db:sql >select * from names where id &lt; 11 and id &gt; 8</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="99289300-909d-488b-b3f8-b1beddbc579a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
